.main-container2 {
    color: rgb(196, 2, 2);
}

.navi-menu  a {
    text-decoration: none;
    text-emphasis: none;
    color: rgb(196, 2, 2);
    margin-left: 10px;
}

.navi-menu  li {
    list-style: none;
}

.navi-menu  i {
    padding-right:10px;
}

.wd-active {
    font-weight: bold;
}